/*inter import*/
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

@font-face {
  font-family: hitmepunk;
  src: url('fonts/hitmepunk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}