html{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
body{
    --bgcolor: #282828;
    --bgalpha: rgba(188,188,188,0);
    --txcolor: #fbf1c7;
    --hair: #25190c;
    --skin: #e8cab0;
    --sun: transparent;
    --moon: black;
    --border: 3px;
    transition: 0.3s;
}
body{
    background-color: var(--bgcolor);
}
p{
	color: var(--txcolor);
}
#logo {
	margin-top: .2em;
	width:60px;
	height:60px;
}
#container{
    width: auto;
    min-width: 5em;
    padding: 3em;
    position: relative;
	overflow: scroll;
	word-wrap: break-word;
}
#topLine{
    border-top: var(--border) solid var(--txcolor);
    max-width: 60em;
    min-width: 50em;
    margin-right: 3em;
    height: var(--border);
}
#falseMargin{
    background-color: var(--bgcolor);
    position: fixed;
    width: 2em;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 999;
    transition: 0.3s;
}
#about{
	margin-right: 3em;
	word-break: normal;
	hyphens: auto;
}
#about h3{
	margin-bottom:8px;
}
#fontcolor h2{
	border-style:none;
	border-top-style:none;
}
h1{
    font-family: Righteous;
    letter-spacing: -0.02em;
    font-size: 4em;
    width: content;
    letter-spacing: -0.02em;
    margin-bottom: 0.4em;
    padding-right:0.4em;
}
#toggleText{
    display:contents;
}
h2{
    font-weight: 400;
    font-size: 1.5em;
    opacity: 100% !important;
    margin:0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    transition: font-weight 0.5s;
	word-wrap: break-word;
}
h2.surtitle{
    font-weight: 700;
    font-size: 2em;
	border-bottom-style: solid;
	border-bottom-width:3px;
	border-bottom-color: --txcolor;
}
span#arrow{
    color: var(--txcolor);
    white-space: nowrap;
    opacity: 0%;
}
.smicons{
    height:1em;
    transform: translate(0,.15em);
    align-self: center;
}
#newWrapper{
    position: relative;
    white-space: nowrap;
    width: 0px;
    height: 0px;
    z-index: 9999;
    visibility: hidden;
}
#newSticker{
    height: 1.1em;
    width: auto;
    margin-right: 0;
}
.new #newWrapper{
    visibility: visible;
}
#arrow{
    font-weight: 650;
    font-size: inherit;
    margin-left: 10px;
    opacity:0%;
    z-index: 1;
}
.infoBox{
    pointer-events: none;
    padding-top: 0.3em;
    position: absolute;
    left:-40em;
    top: auto;
    font-size: 1em;
    opacity: 0%;
    /*    transition: 0.2s;*/
    width: 300px;
    padding-left: 5em;
    display: grid;
    grid-column: 2;
}
p.description{
    color: var(--txcolor);
    font-size: 1.5em;
    line-height: 1.2;
    width: 100%;
}
#link{
    opacity: 100% !important;
}
a:any-link{
    color:var(--txcolor);
    text-decoration: none;
}
div.hoverTar,div.noHov{
    position: relative;
    display: grid;
    grid-template-columns: 2;
    width:24em;
    /*    transition: width 0.5s;*/
}
#skipLine{
    border-top-color: transparent;
}
.hoverTar #arrow{
    font-weight: 650;
}
div.hoverTar:hover{
    width:60em;
    transition: 0.3s;
}
.hoverTar:hover #arrow{
    opacity:100%;
    transition: 0.2s;
    transition-delay: 0.1s;
}
.hoverTar:hover .infoBox{
    opacity:100%;
    transition: 0.1s;
    transition-delay: 0.2s;
}
.hoverTar:hover .title{
    font-weight: 650;
    transition: 0.2s;
}
a.icons{
    display: inline;
    white-space: nowrap;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.5em;
    align-content: center;
    letter-spacing: normal;
    font-weight: 650;
    cursor: pointer;
    transition: 0.2s;
}
a.icons:hover{
    opacity: 70%;
    transition: 0.2s;
}
#phoneOnly{
    display: none;
}

div#clockBox{
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 10em;
    background: rgb(255,250,240);
    background: linear-gradient(0deg, var(--bgcolor) 0%, var(--bgcolor) 80%, var(--bgalpha) 100%);
}
div#clockLine{
    width:auto;
    font-feature-settings: "tnum" 1;
    position: fixed;
    font-size: 1.5em;
    letter-spacing: -0.04em;
    font-family: Inter, sans-serif;
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-weight: 600;
    bottom:2em;
    left:2em;
    padding-top: 0.3em;
    border-top: var(--border) solid var(--txcolor);
	word-wrap: break-word;
}
#discord{
    cursor:pointer;
}
span#clock{
    position: absolute;
    right: 0;
    margin-left: auto;
}
#footer{
    color: var(--txcolor);
    font-size: 16px;
    font-weight: 500;
    margin-top:5px;
    margin-bottom:-20px;
    line-height: 140%;
}
svg#head{
    height: 1em;
    width: auto;
    transform: translate(0em,0.15em);
    margin-right: 0.2em;
}
svg{
    fill: var(--txcolor);
}
path.matchText{
    fill: var(--txcolor);
}
.phoneHoverFix{
    pointer-events: all;
}
a:hover {
		color: #d65d03;               /**/
	}
h1 {
		color: #fb4934;               /**/
	}
h2 {
		color: #b8bb26;               /**/
	}
h3 {
		font-size: 15pt;
		color: #fabd2f;               /**/
	}
h4 {
		color: #83a598;               /**/
	}
h5 {
		color: #d3869b;               /**/
	}
h6 {
		color: #83c07c;               /**/
	}
#gruvbox p {
	float:left;
	font-size: 25pt;
	padding-bottom: 10px;

}
#colors p {
	font-size: 15pt; 
	padding-bottom: 10px;

}
#colors {
clear: left;
}
#fonts p {
	font-size: 15pt;
}
h3.now {
	font-size: 20pt;
}
h4.now {
	font-size: 15pt;
}

.cats{
	border-style: solid;
	border-width: 1px;
	border-color: #ebdbb2;
	padding: 20px;
	border-radius:5px;
	background-color: #1d2021;
	margin-bottom:17px;
}
.responsive{
	border-style: solid;
	border-width: 1px;
	border-color: #ebdbb2;
	border-radius:5px;

}

/*media rules*/
@media only screen and (max-width:52em) {
    body{
        font-size: 15px;
    }

    #container{
        grid-template-columns: auto;
        width: auto;
        margin-left: 0;
        padding-left: 1em;
        margin-right: 5em;
        padding-right: 1em;
    }
    #column,.column{
        margin-left: 0;
    }
    .hoverTar,.phoneHoverFix{
        width: 50vw;
        min-width: 10em;
        margin-left: 0;
        pointer-events: none;
    }
#logo {
	width:12vw;
	height:12vw;
}
    a{
		pointer-events: all;
		color: #83a598;  
    }
	a:hover {
		color: #d65d03;        
	}
    #topLine{
        display: none;
    }
    #toggleText{
	    font-size: 7vw;
    }
    #clockBox{
        display: none;
    }
    h1{
        margin-bottom: 0.4em;
    }
    .infoBox{
        display: none;
    }
    .icons{
        width: 1fr;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
    }
    h2{
        pointer-events: none;
        width: 30vw;
        min-width: 10em;
		word-wrap: break-word;
    }
    #phoneOnly{
        display: inherit;
    }
    .hoverTar #arrow{
        opacity: 0;
    }
@media (prefers-reduced-motion: reduce) {
    .hoverTar:hover{
        animation: 0s !important;}
}

