:root{
	--bgcolor:#1e91be90
	
}

html{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.body {
	text-align: center;
	background-color: #fff;
	background-image: url("https://i.imgur.com/Xud6jLE.gif");
	background-size: cover;
}

#head {
	display:grid;
	column-gap: 5px;
	grid-template-columns: auto auto auto;
	grid-template-rows: 10px auto auto auto;
	row-gap: 10px;
	background-color: var(--bgcolor);
	margin-right:10vw;
	margin-left: 10vw;
	margin-bottom: 40px;
	margin-top: 30px;
	padding-right: 3vw;
	padding-left: 3vw;
	padding-bottom: 10px;
	color: #FF0000;
	box-shadow: 0 0 10px 12px var(--bgcolor);
}

.gnome{
	width:4vw;
}

.title-cell{
	font-family: PressStart2P;
	font-size:1.5vw;
}

.head-cell {
	font-size:12pt;
	display:flex;
	justify-content: center;
	align-items: center;
}

#main{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 5px auto 20px auto 10px;
	column-gap: 10px;
	row-gap: 10px;
	margin-right:30px;
	margin-left:30px;
	margin-bottom:40px;
	grid-template-rows: 60px;
	background-color: var(--bgcolor);
	box-shadow: 0 0 10px 12px var(--bgcolor);
}

.main-cell a{
	text-decoration: none;
	color: #FFFFFF;
}

.main-cell {
	display:flex;
	justify-content: center;
	align-items: center;
}


.buttons {
	width: 100%;
}

#social{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 5px 6px blue;
	padding: 15px;
	margin: auto;
}

.icons{
    width: 30px;
}

/*mobile*/
@media only screen and (max-width:600px) {
	.title-cell{
		font-family: PressStart2P;
		font-size:3vw;
	}
	.body {
		background-image: url("../assets/skull.png");
	}
	#social {
		
	}
}