:root{
	--bgcolor:#1e91be90
	
}

html{
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.body {
	text-align: center;
	background-color: #fff;
	background-image: url("../assets/balls.gif");
	background-size: cover;
}

#head {
	display:grid;
	column-gap: 20px;
	grid-template-columns: auto auto auto;
	grid-template-rows: 10px auto auto auto;
	row-gap: 10px;
	background-color: var(--bgcolor);
	margin-right:10vw;
	margin-left: 10vw;
	color: red;
}

.gnome{
	width:2vw;
	display:inline;
}
.title-cell{
	font-family: PressStart2P;
	font-size:1.5vw;
}
.head-cell {
	font-size:15pt;
}

#main{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 5px auto 20px auto 10px;
	column-gap: 10px;
	row-gap: 10px;
	margin-right:10px;
	margin-left:10px;
	grid-template-rows: 60px;
	background-color: var(--bgcolor);
}

.main-cell a{
	color:blue;
}

#social{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	box-shadow: 0 0 5px 6px blue;
	padding: 15px;
}
.icons{
    width: 2vw;
    height: 2vw;
}