.portfolio {
	float:left;
	width: 50%;
	padding: 5px;
}

div.gallery {
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div.gallery:hover {

}

div.gallery img {
  height: auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}



@media only screen and (max-width: 52em) {

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}