div.gallery {
  border: 0px;
}

div.gallery:hover {
  border: 0px;
}

div.gallery img {
  height: auto;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 2px;
  float: left;
    width: 49.999%;
}

@media only screen and (max-width: 52em) {
  .responsive {
    width: 99%;
	float:center;
	margin: 6px 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}